<!doctype html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<script
  src="https://code.jquery.com/jquery-3.5.0.min.js"
  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
  crossorigin="anonymous"></script>

<!-- loading the following script in order to be stable for an action on this page. -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js"
  integrity="sha512-QtNlDBla6b4bbyMH+MpiDDOTxqgZTcqcroisKjdjobaNhmKXXWjI3SabUnodWXyyz0aRC4x92lBA2FgomJq5hg=="
  crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="../../../css/private/sample/turn-js/basic.css" th:href="@{/css/private/sample/turn-js/basic.css}">
<link rel="stylesheet" type="text/css" href="../../../css/private/sample/turn-js/main.css" th:href="@{/css/private/sample/turn-js/main.css}">

</head>
<body>

<div class="flipbook-viewport">
	<div class="container">
		<div class="flipbook">

			<div><div class="description">
				<h1>はじめに</h1>
<p>Turn.jsのライブラリに付属していたサンプルを元に、実装を独自に整理してサンプルとして残しました。</p>
<hr/>
<p>エンゼルスの大谷翔平投手は6日（日本時間7日）、本拠地レイズ戦に「2番・DH」でスタメン出場。この日は2試合ぶりの一発となるメジャートップタイの10号2ランを放つなど、4打数2安打2打点の活躍で打率は.273に上昇した。チームは3-8の逆転負けで5連敗となった。</p>
<p>The Los Angeles Angels ended an era on Thursday, announcing they would be releasing future Hall of Famer Albert Pujols in his 10th season with the team.</br> The decision marks the end of what was at the time one of the biggest deals in MLB history, and what has since become one of the biggest albatrosses in MLB history. During his time in Anaheim, Pujols went from being the most feared hitter of his generation to a player barely scratching replacement level.</br> It's hard not to watch Pujols' decline and start believing that mega-contracts are a bad idea. To get a more accurate picture of how those deals fare, though, you have to look at the whole landscape. Some deals are indeed disasters, but others are runaway successes and some are just fine.</br> Here's how each deal has played in MLB's mega-contract age:</p>
</div></div>

			<div style="background-image:url(../../../image/private/sample/turn-js/1.jpg)"></div>
			<div style="background-image:url(../../../image/private/sample/turn-js/2.jpg)"></div>
			<div style="background-image:url(../../../image/private/sample/turn-js/3.jpg)"></div>
			<div style="background-image:url(../../../image/private/sample/turn-js/4.jpg)"></div>
			<div style="background-image:url(../../../image/private/sample/turn-js/5.jpg)"></div>
			<div style="background-image:url(../../../image/private/sample/turn-js/6.jpg)"></div>
			<div style="background-image:url(../../../image/private/sample/turn-js/7.jpg)"></div>
			<div style="background-image:url(../../../image/private/sample/turn-js/8.jpg)"></div>
			<div style="background-image:url(../../../image/private/sample/turn-js/9.jpg)"></div>
			<div style="background-image:url(../../../image/private/sample/turn-js/10.jpg)"></div>
			<div style="background-image:url(../../../image/private/sample/turn-js/11.jpg)"></div>
			<div style="background-image:url(../../../image/private/sample/turn-js/12.jpg)"></div>
		</div>
	</div>
</div>

<script src="../../../js/libs/turn.js/turn.js" th:src="@{/js/libs/turn.js/turn.js}"></script>
<script src="../../../js/private/sample/turn-js/main.js" th:src="@{/js/private/sample/turn-js/main.js}"></script>

</body>
</html>
