<!doctype html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<script
  src="https://code.jquery.com/jquery-3.5.0.min.js"
  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
  crossorigin="anonymous"></script>

<!-- loading the following script in order to be stable for an action on this page. -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js"
  integrity="sha512-QtNlDBla6b4bbyMH+MpiDDOTxqgZTcqcroisKjdjobaNhmKXXWjI3SabUnodWXyyz0aRC4x92lBA2FgomJq5hg=="
  crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="../../../css/private/study/wordbook/basic.css" th:href="@{/css/private/study/wordbook/basic.css}">
<link rel="stylesheet" type="text/css" href="../../../css/private/study/wordbook/main.css" th:href="@{/css/private/study/wordbook/main.css}">

</head>
<body>

<div class="flipbook-viewport">
	<div class="container">
		<div class="flipbook">
			<div th:each="studyeng, stat : ${studyengs}" class="paper"><div class="description">
				<h1 th:text="${stat.count} + ' / ' + ${stat.size}"></h1>
				<div th:text="${studyeng.japanese}" class="question"></div>
				<div class="center"><a href="#" class="btn" th:onclick="'toggleBox(\'#box' + ${stat.count} + '\')'">SHOW / HIDE</a></div>
				<div th:id="'box' + ${stat.count}" class="answer">
				<div th:text="${studyeng.english}" class="ans_eng"></div>
				<div th:text="${studyeng.source}" class="ans_src"></div>
				<div th:text="${studyeng.sourceno}" class="ans_srcno"></div>
				</div>
			</div></div>
		</div>
	</div>
</div>

<script src="../../../js/libs/turn.js/turn.js" th:src="@{/js/libs/turn.js/turn.js}"></script>
<script src="../../../js/private/study/wordbook/main.js" th:src="@{/js/private/study/wordbook/main.js}"></script>

</body>
</html>
