<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="robots" content="index,follow,archive">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>private apps menu</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167158475-1"></script>
<script src="../js/g-analytics.js" th:src="@{/js/g-analytics.js}"></script>
</head>

<body>

<h2>Private Apps Menu</h2>
<ul>
	<li><a href="./stock/moveavg.html" th:href="@{./stock/moveavg/}">check stock price</a></li>
</ul>

</body>
</html>
