
footer{
	background:#101e2a;
	padding:50px 0;
}
footer div.copyright{
	color:#fff;
	margin-top:0;
	margin-bottom:0;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:2px;
	line-height:19px;
}
footer div.copyright a{
	color:#999999;
}
footer div.copyright a:hover{
	color:#00c8aa;
	text-decoration:none;
	outline:none;
}

