
@media screen {
	body {
		background: #FFCC99;
	}
	.card {
		box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
		margin: 15px;
	}
}

@media screen and (max-width: 480px) {
	header h1 {
		padding-left: 60px;
	}
	header .hamburger {
		display: flex;
	}
	header .manual {
		width: 97%;
		margin: 1.5% 1.5% 1.5% 1.5%;
	}
	header .manual .manual-win-close {
		display: table-cell;
	}
	article {
		padding-left: 0px;
	}
}

@media print {
	.no_print{
		display: none;
	}
	body {
		width:100mm;	// needed for Chrome.
		height:148mm;	// needed for Chrome.
	}
	article {
		padding-top: 0px;
		padding-left: 0px;
	}
}

@page {
	size: 100mm 148mm;
	margin: 1px;	// disable the page header and footer for Chrome.
	padding: 0;	// disable the page header and footer for Chrome.
}

