
@media screen {
}

@media screen and (max-width: 480px) {
	header h1 {
		padding-left: 60px;
	}
	header .hamburger {
		display: flex;
	}
	header .manual {
		width: 97%;
		margin: 1.5% 1.5% 1.5% 1.5%;
	}
	header .manual .manual-win-close {
		display: table-cell;
	}
	article {
		padding-left: 0px;
	}
	.ad-pc {
		display: none;
	}
	.ad-sp {
		display: inline;
	}
}

@media print {
	.no-print{
		display: none;
	}
	body {
		width:100mm;	// needed for Chrome.
		height:148mm;	// needed for Chrome.
		background: none;
	}
	article {
		padding-top: 0px;
		padding-left: 0px;
	}
	.card {
		margin: 0;
		box-shadow: none;
	}
}

@page {
	size: 100mm 148mm;
	margin: 1px;	// disable the page header and footer for Chrome.
	padding: 0;	// disable the page header and footer for Chrome.
}

