
body {
	background: #E6FFE9;
}

article {
	padding-top: 55px;
	margin-left: 8px;
	width: 930px;
}

#sec1, #sec2 {
	margin-top: -55px;
	padding-top: 55px;
}

.map_frm1, .map_frm2 {
	margin-right: 8px;
	margin-bottom: 8px;
}

.no-screen {
	display: none;
}

